[Desktop Entry]
Type=Application
Exec=systemd-run --collect --user -u polkit-gnome-authentication-agent /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_GB]=polkit
Comment[en_GB]=No description
X-GNOME-Autostart-Delay=10
